html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

/* Main Page */
#main-page {
  width: 100%;
  height: 100%;
}

/* About Page */
#about-page {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../img/about.png');
  background-size: cover;
  background-attachment: fixed;
}

#greeting {
  left: 35%;
  width: 50%;
  position: relative;
  margin: 0px;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 50px;
  font-family: 'Exo 2', sans-serif;
  text-align: right;
  opacity: .7;
  background: transparent;
}

#pfp {
  position: absolute;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  top: 0;
  right: 55%;
  bottom: 0;
  left: 0;
}

#about-description {
  position: absolute;
  left: 45%;
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
  margin-left: 0%;
  margin-right: 15%;
  padding-top: 15%;
  text-align: right;
}



/* Hobbies Page */
#hobbies-page {

}

/* Connect Page */
#connect-page {
  width: 100%;
  height: 100%;
}

#connect {
  width: 100%;
  height: 100%;
}


/*  Icons  */
#icon-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: 100px;
}

.icon {
  position: absolute;
  color: white;
  width: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.icon-name {
  position: absolute;
  top: 60%;
  font-size: 20px;
  font-family: fantasy;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.site {
  position:absolute;
  display:inline-block;
  color:inherit;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  opacity: .8;
}

.site:hover {
  cursor: pointer;
  font-weight: bold;
}

#linkedin {
  left: 38%;
}

#github {
  left: 43%;
}

#resume {
  left: 48%;
}

#facebook {
  left: 53%;
}

#discord {
  left: 58%;
}


/*  Miscellaneous  */

.dim {
  position: absolute;
  background-color: black;
  opacity: .5;
  width: 100%;
  height: 100%;
}

.parallax {
  height: 100%;
  width: 100%;
  background: transparent;
}

.parallax-text {
  width: 100%;
  position: absolute;
  padding-top: 20%;
  margin: auto;
  text-align: center;
}

.parallax-title {
  font-size: 100px;
  font-family: fantasy;
  color: white;
}

.description {
  font-size: 30px;
  font-family: fantasy;
  color: white;
}
